@inject IHttpContextAccessor httpContextAccessor
@{
    var user = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>(Roles.Customer.ToString()) ??
               httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>(Roles.Admin.ToString());

    bool isCustomer = user.Role == Roles.Customer.ToString();
}

@model List<ProductViewModel>

<div class="container mx-auto p-4 max-w-7xl">
    <div class="flex justify-between mb-4">
        <div>
            <button class="underline underline-offset-8">All Products</button>
        </div>
        <p class="text-gray-600 text-sm">Total: @Model.Count Products</p>
    </div>

    <div class="w-full border-t border-gray-200 mt-2"></div>

    <div class="mt-4 overflow-x-auto">
        <table class="min-w-full bg-white text-sm">
            <thead>
                <tr>
                    <th class="py-3 px-4 text-left text-gray-600">Account Number</th>
                    <th class="py-3 px-4 text-left text-gray-600">Type</th>
                    <th class="py-3 px-4 text-left text-gray-600">ProductId</th>
                    <th class="py-3 px-4 text-left text-gray-600">Amount</th>
                    <th class="py-3 px-4 text-left text-gray-600">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr class="border-b">
                        <td class="py-4 px-4">@product.AccountNumber</td>
                        <td class="py-4 px-4">@product.Type</td>
                        <td class="py-4 px-4">Product Id: @product.Id</td>
                        <td class="py-4 px-4">@product.Amount</td>
                        <td class="py-4 px-4">
                            @if (isCustomer)
                            {
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="bg-blue-600 text-white px-4 py-2 rounded-md text-sm">
                                    Show
                                </a>
                            }
                            else
                            {
                                <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="bg-red-600 text-white px-4 py-2 rounded-md text-sm">
                                    Delete
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@if (!isCustomer)
{
    <a asp-controller="Product" asp-action="Create" asp-route-id="@ViewBag.UserId" class="fixed bottom-8 right-8 bg-blue-600 text-white px-5 py-3 rounded-md text-sm flex items-center shadow-md">
        Create New Product <i class="fas fa-plus ml-2"></i>
    </a>
}

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
