@model SaveTransactionViewModel

@inject IUserService _userService
@inject IProductService _productService

@{
    //var user = await _userService.GetLoggedInUser();
    //var accounts = await _productService.GetProductsByUserId(user.Id);
    string action = "Beneficiary";
    if (ViewBag.TransactionType == ProductType.SavingAccount) action = "Express";
    if (ViewBag.TransactionType == ProductType.CreditCard) action = "CreditCard";
    if (ViewBag.TransactionType == ProductType.Loan) action = "Loan";
        

}

<div class="container mx-auto p-4 max-w-7xl">
    <h1 class="text-2xl font-bold mb-4">Create New Payment</h1>

    <div class="bg-white p-6 rounded-lg shadow-md">

        <form asp-controller="Payment" asp-action="@action" method="post">

            @if(ViewBag.TransactionType == ProductType.SavingAccount){
                <div class="mb-4">
                    <label asp-for="DestinationProductId" class="block text-gray-700">Destination Account Number</label>
                    <input asp-for="DestinationProductId" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm" required />
                    <span asp-validation-for="DestinationProductId" class="text-red-500 text-xs"></span>
                </div>
            }
            else
            {
                <div class="mb-4">
                    <label asp-for="DestinationProductId" class="block text-gray-700">Select Destination Account</label>
                    <select asp-for="DestinationProductId" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm" required>
                        @foreach (var DestinationProduct in Model.DestinationProductList)
                        {
                            <option value="@DestinationProduct.Id">@DestinationProduct.AccountNumber</option>
                        }
                    </select>
                    <span asp-validation-for="OriginProductId" class="text-red-500 text-xs"></span>
                </div>
            }


            <div class="mb-4">
                <label asp-for="Amount" class="block text-gray-700">Amount</label>
                <input asp-for="Amount" type="number" step="0.01" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm" required />
                <span asp-validation-for="Amount" class="text-red-500 text-xs"></span>
            </div>

            <div class="mb-4">
                <label asp-for="OriginProductId" class="block text-gray-700">Select Origin Account</label>
                <select asp-for="OriginProductId" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm" required>
                    @foreach (var OriginProduct in Model.OriginProductList)
                    {
                        <option value="@OriginProduct.Id">@OriginProduct.AccountNumber</option>
                    }
                </select>
                <span asp-validation-for="OriginProductId" class="text-red-500 text-xs"></span>
            </div>

            <div class="flex justify-end">
                <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-md text-sm">
                    Create Payment
                </button>
            </div>
        </form>
    </div>
</div>

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
