@inject IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "Home Page";
}

@{
    AuthenticationResponse user = new();
    var admin = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>(Roles.Admin.ToString());
    var customer = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>(Roles.Customer.ToString());
    if (admin != null)
    {
        user = admin;
    }
    else
    {
        user = customer;
    }
}

<div class="container mx-auto p-4 max-w-7xl">
    <h1 class="text-2xl font-bold mb-2">Hello, @user.UserName</h1>
    <div class="grid grid-cols-3 gap-6 h-full">
        <!-- Left Column -->
        <div class="border border-gray-200 rounded-md col-span-2 flex flex-col space-y-6">
            <!-- Main Personal Account Section -->
            <div class="bg-white p-4 rounded-lg shadow-md flex flex-col justify-between h-full">
                @if (user.Role == Roles.Customer.ToString())
                {
                    <div>
                        <h2 class="text-sm font-semibold text-blue-600">Main Personal Account</h2>
                        <div class="flex items-center space-x-4">
                            <p class="text-black text-base">9608627533</p>
                            <button class="flex items-center bg-white border border-blue-500 text-blue-500 px-3 py-1 rounded-md text-xs">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 384 512">
                                    <path fill="currentColor" d="M280 64h40c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128C0 92.7 28.7 64 64 64h40 9.6C121 27.5 153.3 0 192 0s71 27.5 78.4 64H280zM64 112c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H320c8.8 0 16-7.2 16-16V128c0-8.8-7.2-16-16-16H304v24c0 13.3-10.7 24-24 24H192 104c-13.3 0-24-10.7-24-24V112H64zm128-8a24 24 0 1 0 0-48 24 24 0 1 0 0 48z" />
                                </svg>
                                Copy
                            </button>
                        </div>
                    </div>

                    <div class="mt-2">
                        <p class="text-gray-600 text-sm">Account Balance</p>
                        <h3 class="text-4xl font-medium mb-4">24,760.75 RD$</h3>
                        <div class="flex space-x-2 mt-2">
                            <a asp-controller="Transaction" asp-action="Index" class="bg-blue-600 text-white px-4 py-2 rounded-md text-sm">New Transfer</a>
                            <button class="border border-blue-600 text-blue-600 px-4 py-2 rounded-md bg-transparent text-sm">Full History</button>
                        </div>
                    </div>
                }

                <div class="mt-8 flex-grow">
                    <table class="min-w-full bg-white text-xs">
                        <thead>
                            <tr>
                                <th class="py-4 text-left text-gray-600">Date</th>
                                <th class="py-4 text-left text-gray-600">Origin</th>
                                <th class="py-4 text-left text-gray-600">Destination</th>
                                <th class="py-4 text-left text-gray-600">Details</th>
                                <th class="py-4 text-left text-gray-600">Category</th>
                                <th class="py-4 text-left text-gray-600">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var transaction in ViewBag.UserTransactions)

                            {
                                <tr class="border-b">
                                    <td class="py-6">@transaction.DateCreated</td>
                                    <td class="py-6">@transaction.OriginProductId</td>
                                    <td class="py-6">@transaction.DestinationProductId</td>
                                    <td class="py-6">@transaction.Details</td>
                                    <td class="py-6">@transaction.Category</td>
                                    <td class="py-6">@transaction.Amount</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @if (user.Role == Roles.Admin.ToString())
                    {
                        <div class="flex justify-end mt-4">
                            <a asp-controller="Transaction" asp-action="AllTransactionsHistory" class="bg-blue-600 text-white px-4 py-2 rounded-md text-sm">
                                See All Transactions
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>

        <!-- Right Column -->
        <div class="col-span-1 flex flex-col space-y-6">
            <!-- My Products Section -->
            <div class="border border-gray-200 rounded-md bg-white p-4 rounded-lg shadow-md flex-grow">
                <div class="flex justify-between items-center mb-4">
                    <h2 class="text-xl font-semibold">My Products</h2>
                    <a asp-controller="Product" asp-action="Index" class="flex font-medium items-center text-black text-base">
                        See All
                        <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-4 w-4" viewBox="0 0 448 512">
                            <path fill="currentColor" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
                        </svg>
                    </a>
                </div>
                <div class="max-h-40 overflow-y-auto">
                    <ul class="space-y-2 text-sm">
                        @foreach (var product in ViewBag.UserProducts)
                        {
                            <li class="flex justify-between">
                                <span>@product.AccountNumber, @product.Type</span>
                                <!--<span>product.Balance RD$</span>-->
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <!-- Conditional Offer or Admin Buttons Section -->
            @if (user.Role == Roles.Customer.ToString())
            {
                <div class="bg-gray-200 rounded-lg shadow-md relative h-48 flex-grow">
                    <div class="absolute inset-0 bg-cover bg-center rounded-lg" style="background-image: url('/static/images/offer-image.jpg');"></div>
                    <div class="absolute top-0 left-0 m-4 px-2 py-1 bg-black bg-opacity-50 rounded text-xs"><span class="text-white">Limited Offer</span></div>
                    <div class="absolute inset-0 bg-black bg-opacity-50 flex flex-col justify-end p-4 rounded-lg">
                        <h3 class="text-xl font-semibold text-white">Deposit 4,5%</h3>
                        <button class="bg-white text-black px-4 py-1 rounded-md mt-2 text-sm w-1/2">Show Details</button>
                    </div>
                </div>
            }
            else if (user.Role == Roles.Admin.ToString())
            {
                <div class="grid grid-cols-2 gap-4">
                    <a asp-controller="User" asp-action="Index" class="bg-white border border-gray-200 shadow-md rounded-md text-gray-800 flex flex-col items-center justify-center p-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" />
                            <path d="M0 0h24v24H0z" fill="none" />
                        </svg>
                        <span class="mt-2">Users</span>
                    </a>
                    <a href="#" class="bg-white border border-gray-200 shadow-md rounded-md text-gray-800 flex flex-col items-center justify-center p-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" />
                            <path d="M0 0h24v24H0z" fill="none" />
                        </svg>
                        <span class="mt-2">Payments</span>
                    </a>
                    <a asp-controller="Product" asp-action="ProductsHistory" class="bg-white border border-gray-200 shadow-md rounded-md text-gray-800 flex flex-col items-center justify-center p-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" />
                            <path d="M0 0h24v24H0z" fill="none" />
                        </svg>
                        <span class="mt-2">Products</span>
                    </a>
                    <a asp-controller="Transaction" asp-action="AllTransactionsHistory" class="bg-white border border-gray-200 shadow-md rounded-md text-gray-800 flex flex-col items-center justify-center p-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" />
                            <path d="M0 0h24v24H0z" fill="none" />
                        </svg>
                        <span class="mt-2">System Transactions</span>
                    </a>
                </div>
            }
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
